@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a {
	cursor: pointer;
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

form input {
	display: block;
	outline: 2px teal solid;
	padding: 4px 12px;
	border-radius: 4px;

	&:invalid {
		outline: 2px red solid;
	}

	&:read-only {
		background: #f4f4f4;
	}
}

form select {
	background: transparent;
	outline: 2px teal solid;
	padding: 4px 12px;
	border-radius: 4px;
}

form textarea {
	background: transparent;
	outline: 2px teal solid;
	padding: 4px 12px;
	border-radius: 4px;
}

input[type='range'] {
	accent-color: rgb(15 118 110);
}
